.nav{
    background: white;
    &__logo{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 25px;
        line-height: 120%;
        text-transform: uppercase;
        color: #3f3f3f;
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
}   &__search{
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        &_input{
            border-radius: 4px;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            color: #c2c2c5;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 380px;
            background: #fff;
        }
        &_btn{
            border-radius: 0 4px 4px 0;
            padding: 0px 10px;
            width: 69px;
            height: 36px;
            background: #3f3f3f;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            color: #fff;
        }

}
}